{% extends "_layouts/generic-page-layout.twig" %}

{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}

{% block content %}
    <div class="flex flex-row border-4 border-black rounded-2xl">
        <div class="flex-grow p-6 content-center text-3xl">{{ entry.introduction }}</div>
        <div class="border border-black border-x-2"></div>
        <div class="grid grid-cols-3 p-6 text-3xl">
            {% for social in entry.socials %}
                <a href="{{ social.url }}">
                    {{ inlineSvg('socials/'~social.platform, 'w-12 h-12', { sanitize: true, namespace: true }) }}
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="text-3xl">bookshelf:</div>
    <div class="flex flex-row gap-2 place-content-evenly">
        <div class="flex-grow h-[15rem] p-10 border-4 border-black rounded-2xl content-center text-center">project 1</div>
        <div class="flex-grow h-[15rem] p-10 border-4 border-black rounded-2xl content-center text-center">project 2</div>
        <div class="flex-grow h-[15rem] p-10 border-4 border-black rounded-2xl content-center text-center">project 3</div>
    </div>

    {% include "_partials/blocks.twig" with { 'blocks': entry.contentBlocks } %}
{% endblock %}

{% block subcontent %}
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}
